<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pizza Database</h1>

    <form method='POST' action='/login'>
      <input type='text' name='username' placeholder='username'></input>
      <input type='password' name='password'placeholder='password' ></input>
      <button type='submit' name='submit'>submit</button>
    </form>

  </body>
</html>
